<div class="banner container-fluid bg-secondary m-0 p-1">
	<a {% if app.user %} {# {% if is_granted('ROLE_ADMINISTRATEUR') %}  #}href="{{ path('administrateur_accueil') }}" {# {% elseif is_granted('ROLE_PARTENAIRE') %} href="{{ path('partenaire_accueil') }}" {% elseif is_granted('ROLE_STRUCTURE') %} href="{{ path('structure_accueil') }}" {% endif %}  #}{% else %} href="{{ path('app_login') }}" {% endif %}>
		<img class="d-inline-block align-middle" src="{{ asset('/Pictures/logo.PNG') }}" width="140" alt="logo EasyFit">
	</a>
	<div>
		Build your body !
	</div>

	{% if app.user %}
		<div class:"ms-auto">
			<div>
				{% if is_granted('ROLE_ADMINISTRATEUR') %}
					{{ app.user.name}} (administrateur) 
				{% elseif is_granted('ROLE_PARTENAIRE') %}
					{{ app.user.name }} (Franchise) 
				{% elseif is_granted('ROLE_STRUCTURE') %}
					Structure de la {{ app.user.address }}
				{% endif %}
			</div>
			<div>
				<a href="{{ path('app_logout') }}">Me déconnecter</a>
			</div>
		</div>
	{% endif %}
</div>
