<nav class="navbar navbar-expand-sm navbar-dark bg-info">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">

				<li class="nav-item">
					<a class="nav-link active" {% if app.user %} {% if is_granted('ROLE_ADMINISTRATEUR') %} href="{{ path('administrateur_accueil') }}" {% elseif is_granted('ROLE_PARTENAIRE') %} href="{{ path('partenaire_accueil') }}" {% elseif is_granted('ROLE_STRUCTURE') %} href="{{ path('structure_accueil') }}" {% endif %} {% else %} href="{{ path('app_login') }}" {% endif %}>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Accueil
							</font>
						</font>
						<span class="visually-hidden">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">(courant)</font>
							</font>
						</span>
					</a>
				</li>

				{% if is_granted('ROLE_ADMINISTRATEUR') %}

					<li class="nav-item">
						<a class="nav-link active" href="{{ path('administrateur_liste',{'userToAdmin': 'administrateur','parentId' : '0' }) }}">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Administrateurs
								</font>
							</font>
							<span class="visually-hidden">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">(courant)</font>
								</font>
							</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('administrateur_liste',{'userToAdmin': 'partenaire','parentId' : '0'  }) }}">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Partenaires</font>
							</font>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('administrateur_liste',{'userToAdmin': 'structure','parentId' : '0'  }) }}">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Structures</font>
							</font>
						</a>
					</li>

				{% endif %}
			</ul>

		</div>
	</div>
</nav>
