{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}

	{% include "partials/_navbar.html.twig" %}


	<div class="wrapper">
		<h3>Bienvenue <strong>{{ app.user.userIdentifier }}</strong> sur votre compte {{ userRole }}.</h3>
	

		{% if is_granted('ROLE_ADMINISTRATEUR') %}
				<a href="{{ path('administrateur_liste',{'userToAdmin': 'administrateur' }) }}" class="btn btn-primary" >Gérer les administrateur</a>
				<a href="{{  path('administrateur_liste',{'userToAdmin': 'partenaire' })  }}" class="btn btn-primary">Gérer les partenaires</a>
				<a href="{{ path('administrateur_liste',{'userToAdmin': 'structure' }) }}" class="btn btn-primary">Gérer les structures</a>

		{% elseif is_granted('ROLE_PARTENAIRE') %}
				<a href="{# {{ path('') }} #}" class="btn btn-primary">Voir vos options globales</a>
				<a href="{{ path('partenaire_liste') }}">Voir vos structures</a>

		{% elseif is_granted('ROLE_STRUCTURE') %}
				<a href="{# {{ path('') }} #}" class="btn btn-primary">Voir vos options</a>
		{% endif %}

	</div>


{% endblock %}
