{% extends 'base.html.twig' %}

{% block title %}
	{{ pageName }}
{% endblock %}

{% block body %}

	{% include "partials/_navbar.html.twig" %}


	<div class="wrapper">
		<h3>Bienvenue
			<strong>{{ app.user.userIdentifier }}</strong>
			sur votre compte
			{{ userRole }}.</h3>
	</div>

	{% if is_granted('ROLE_ADMINISTRATEUR') %}
		<div class="wrapper">
			<a href="{{ path('admin_liste') }}">Gérer les administrateur</a>
		</div>

		<div class="wrapper">
			<a href="{{ path('partenaire_liste') }}">Gérer les partenaires</a>
		</div>

		<div class="wrapper">
			<a href="{{ path('structure_liste') }}">Gérer les structures</a>
		</div>
	{% elseif is_granted('ROLE_PARTENAIRE') %}
		<div class="wrapper">
			<a href="{# {{ path('') }} #}">Voir vos options globales</a>
		</div>

		<div class="wrapper">
			<a href="{# {{ path('') }} #}">Voir vos structures</a>
		</div>
	{% elseif is_granted('ROLE_STRUCTURE') %}
		<div class="wrapper">
			<a href="{# {{ path('') }} #}">Voir vos options</a>
		</div>
	{% endif %}


{% endblock %}
