{% extends 'base.html.twig' %}

{% block title %}
	{{ pageName }}
{% endblock %}

{% block body %}
	{% include "partials/_navbar.html.twig" %}

	<div class="wrapper">
		{% if connectedUser.activated %}

			{% if is_granted('ROLE_ADMINISTRATEUR') %}
				<h1>Bienvenue
					<strong>{{ app.user.name }}</strong>
				</h1>
				<h2>Vous êtes sur votre compte 
					<strong>administrateur</strong></h2>
				<div class="m-3">
					<div class="m-4">
						<a href="{{ path('administrateur_liste',{'parentId' : '0','userToAdmin': 'administrateur' }) }}" class="btn btn-primary">Gérer les administrateur</a>
					</div>
					<div class="m-4">
						<a href="{{ path('administrateur_liste',{'parentId' : '0','userToAdmin': 'partenaire' }) }}" class="btn btn-primary">Gérer les partenaires</a>
					</div>
					<div class="m-4">
						<a href="{{ path('administrateur_liste',{'parentId' : '0','userToAdmin': 'structure' }) }}" class="btn btn-primary">Gérer les structures</a>
					</div>
				</div>

			{% elseif is_granted('ROLE_PARTENAIRE') %}
				<h1>Franchise de
					<strong>{{ app.user.name }}</strong>
				</h1>
				<div class="m-3">
					<a href="{{ path('administrateur_liste',{'parentId' : connectedUser.id,'userToAdmin': 'partenaire'}) }}" class="btn btn-primary">Vos structures options globales</a>
				</div>

			{% elseif is_granted('ROLE_STRUCTURE') %}
				<h1>Structure de la <strong>{{ app.user.address }}</strong>
			</h1>
			<div class="m-3">
				<a href="{{ path('administrateur_liste',{'parentId' : connectedUser.id,'userToAdmin': 'partenaire'}) }}" class="btn btn-primary">Voir vos options</a>
			</div>
		{% endif %}

		{% else %}
			<h1 class="text-center alert alert-danger">
				Votre Compte est désactivé
			</h1>
		{% endif %}
	</div>
{% endblock %}

{# pour faire un dd dans la vue
<pre>
  {{ dump(variable) }}
</pre> #}