{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col">
                
		        <h1>Nouvel enregistrement {{ userToCreate}}</h1>


               {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.address) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.activated) }}

                    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>


{% endblock %}
