{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}
	{% include "partials/_navbar.html.twig" %}

	<div class="wrapper mt-5 p-3">
        <div class="row">
            <div class="col">
		        <h1>Nouvel enregistrement d'un(e) {{ userToCreate}}</h1>

{#                         {{ form(registrationForm) }} #}

                {% if userToCreate == 'administrateur' or userToCreate == 'partenaire'%}  
                    <form>                      
                    {# {{form_start(registrationForm)}} #}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}

                    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>       
                    {# {{ form_end(registrationForm) }} #}
                    </form>  
                {% endif %}
                {% if userToCreate == 'structure'%}
                    {{form_start(registrationForm)}}
                    {{ form_row(registrationForm.address) }}
                    {{ form_row(registrationForm.email) }}
                    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>       
                    {{ form_end(registrationForm) }}
                {% endif %}




{#                 {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(registrationForm) }} #}

        </div>
        </div>
    </div>
{% endblock %}