{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}


	{% include "partials/_navbar.html.twig" %}

    <section class="container">
        <div class="row">
            <div class="col">
                
		        <h1>Nouvel enregistrement {{ userToCreate}}</h1>


{#                {{ form_start(registrationForm) }}
                {{ form_end(registrationForm) }} #}


					{% if userToCreate == 'administrateur' or userToCreate == 'partenaire'%}
                    {{ form_row(registrationForm.name) }}
					{% endif %}
					{% if userToCreate == 'structure'%}
                    {{ form_row(registrationForm.address) }}
					{% endif %}
                    {{ form_row(registrationForm.email) }}

                    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>                 

            </div>
        </div>
    </section>


{% endblock %}

{#    {{ form_row(registrationForm.plainPassword) }} #}