{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}
	{% include "partials/_navbar.html.twig" %}
	<div class="wrapper">

		{# affichage Role administrateur #}
		{% if is_granted('ROLE_ADMINISTRATEUR') %}
			{% if parentId != '0' %}
				<h1>Liste des <strong>{{ userToAdmin }}s </strong></h1>
				<h2>franchise de <strong>{{ parentName }}</strong></h2>
			{% else %}
				<h1>Liste des <strong>{{ userToAdmin }}s</strong></h1>
			{% endif %}	

			<div class="mt-5 row">
				<div class="col-sm-12 col-lg-6">
					<form class="d-flex">
						<input class="form-control me-sm-2" type="text" placeholder="Chercher">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Chercher</font>
							</font>
						</button>
					</form>
				</div>
			</div>

			<table class="mt-5 table">
				<thead>
					
					{% if userToAdmin == 'structure' %}
					<th>Adresse</th>
					<th>Franchise</th>
					{% else %}
					<th>Nom</th>
					{% endif %}
					<th>Email</th>
					{% if userToAdmin == 'partenaire' %}
						<th>détail</th>
					{% endif %}
					{% if userToAdmin != 'administrateur' %}
					<th>Actif</th>
					{% endif %}
					<th>Supprimer</th>
				</thead>

				<tbody>
					{% for user in users %}
						<tr>
							{% if userToAdmin == 'structure' %}
							<td>{{ user.address }}</td>
							<td>{{ user.parent.name }}</td>
							{% else %}
							<td>{{ user.name }}</td>
							{% endif %}

							<td>{{ user.email }}</td>
							{% if userToAdmin == 'partenaire' %}
								<td>
									<a href="{{ path('administrateur_liste', {'parentName' : user.name,'parentId' : user.id,'userToAdmin': 'structure' }) }}" class="btn btn-primary">détail</a>
								</td>
							{% endif %}
							{% if userToAdmin != 'administrateur' %}

								<td>
									<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" {{ user.activated ? 'checked' : '' }} data-id="{{user.id}}">
									<label class="form-check-label" for="flexSwitchCheckDefault"></label>
									</div>
								</td>
							{% endif %}
							<td>
								{# TODO ajouter la réference du bouton #}

								<a href="{{ path('suppression', {'id' : user.id,'userToAdmin': userToAdmin }) }}" class="btn btn-primary">Supprimer</a>
							</td>
						</tr>

					{% else %}
						<tr>
							<td>Il n'y a pas d'enregistrement pour ce tableau</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			{% if userToAdmin != 'structure' %}
				<div class="mt-5 row">
					<div class="col-sm-12 col-lg-6">
						<a href="{{ path('administrateur_creation',{'userToAdmin': userToAdmin }) }}" class="btn btn-primary">Ajouter un <strong>{{ userToAdmin }}</strong></a>
					</div>
				</div>
			{% else %}
				{% if parentId != '0' %}
					<div class="mt-5 row">
						<div class="col-sm-12 col-lg-6">
							<a href="{{ path('administrateur_creation',{'parentName' : parentName,'parentId' : parentId,'userToAdmin': userToAdmin }) }}" class="btn btn-primary">Ajouter une <strong>{{ userToAdmin }}</strong></a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}



		{# affichage Role partenaire #}
		{% if is_granted('ROLE_PARTENAIRE') %}

		<h4>Liste de vos structures</strong> :</h4>

			<table class="mt-5 table">
				<thead>
					<th>Adresse</th>
					<th>Email</th>
					<th>Active</th>
				</thead>

				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.address }}</td>
							<td>{{ user.email }}</td>
							<td>
								{{ user.activated ? 'OUI' : 'NON' }}
							</td>
						</tr>

					{% else %}
						<tr>
							<td>Il n'y a pas d'enregistrement pour ce tableau</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}




{# Code de vérification Role
								<td>
										{% for role in user.roles %}
											{% if role == "ROLE_ADMINISTRATEUR" %}
												Administrateur
											{% elseif role == "ROLE_PARTENAIRE" %}
												Partenaire
											{% elseif role == "ROLE_STRUCTURE" %}
												Structure
											{% endif %}
										{% endfor %}
									</td> #}
									