{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}
{# {% block javascripts %}{{ parent() }}{% endblock javascripts %} #}

{% block body %}
	{% include "partials/_navbar.html.twig" %}
	<div class="wrapper">
		{# affichage Role administrateur #}
		{% if is_granted('ROLE_ADMINISTRATEUR') %}
			{% if parentId != '0' %}
				<h1>Liste des
					<strong>{{ userToAdmin }}s
					</strong>
				</h1>
				<h2>franchise de
					<strong>{{ parentName }}</strong>
				</h2>
			{% else %}
				<h1>Liste des
					<strong>{{ userToAdmin }}s</strong>
				</h1>
			{% endif %}


			{# Barre de recherche pour trouver le nom ou l'adresse sans recharger la page #}
			<div class="mt-5 row">
				<div class="col-lg-6">
					<form>
						<div
							{# ajax #}
							class="input-group"
							{{stimulus_controller('search-preview',
								{
									url: 'search',
									parentId: parentId,
									userToAdmin: userToAdmin,
									parentName: parentName,
								}
							)}}
							>
							{# Entrée #}
							<div class="">
								<input 
									name="q"
									value="{{searchTerm}}"
									type="search"
									placeholder="Rechercher..."
									class="form-control"
									aria-label="Rechercher"
									data-action="search-preview#onSearchInput"
								>
							{# résultat #}
								<div 
                                    class="search-preview"
                                    data-search-preview-target="result"
								>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			{% if id !='' %}
				<a
					class="btn btn-primary btn-sm"
					href="{{ path('administrateur_liste', {'parentName' : parentName,'parentId' : parentId,'userToAdmin': userToAdmin }) }}" 
				>Retour à la liste complète</a>

			{% endif %}

			

			{# Liste sous forme de tableau #}
			<table class="mt-5 table">
				<thead>
					{% if userToAdmin == 'structure' %}
						<th>Adresse</th>
						<th>Franchise</th>
					{% else %}
						<th>Nom</th>
					{% endif %}
					<th>Email</th>
					{% if userToAdmin == 'partenaire' %}
						<th>détail</th>
					{% endif %}
					{% if userToAdmin != 'administrateur' %}
						<th>Actif</th>
					{% endif %}
					<th>Supprimer</th>
				</thead>

				<tbody>
					{% for user in users %}
						<tr>
							{% if userToAdmin == 'structure' %}
								<td>{{ user.address }}</td>
								<td>{{ user.parent.name }}</td>
							{% else %}
								<td>{{ user.name }}</td>
							{% endif %}

							<td>{{ user.email }}</td>
							{% if userToAdmin == 'partenaire' %}
								<td>
									<a href="{{ path('administrateur_liste', {'parentName' : user.name,'parentId' : user.id,'userToAdmin': 'structure' }) }}" class="btn btn-primary">détail</a>
								</td>
							{% endif %}
							{% if userToAdmin != 'administrateur' %}

								<td>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" role="switch" {{ user.activated ? 'checked' : '' }} data-id="{{user.id}}">
										<label class="form-check-label" for="flexSwitchCheckDefault"></label>
									</div>
								</td>
							{% endif %}

							<td>
								{# Bouton de suppression avec modal via controleur Stimulus #}
								<div {{ stimulus_controller('modal-form')}}>
									<button
										class="btn btn-primary btn-sm"
										data-action="modal-form#openModal"
									>Supprimer</button>

									{{ include('_modal.html.twig', {
										modalTitle: 'Conirmer la suppression',
										modalUrl: path('suppression', {'userId' : user.Id,'userToAdmin': userToAdmin, 'parentId': parentId })
									}) 
									}}
								</div>
							</td>
						</tr>

					{% else %}
						<tr>
							<td>Il n'y a pas d'enregistrement pour ce tableau</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# Création d'un nouvel enregistrement #}
			{% if userToAdmin != 'structure' %}
				{# Création d'un administrateur ou d'un partenaire  #}
				<div class="mt-5 row">
					<div class="col-sm-12 col-lg-6">
						<a href="{{ path('administrateur_creation', {'userToAdmin' : userToAdmin,'parentId' : '0'}) }}"	class="btn btn-primary">
							Ajouter un <strong>{{ userToAdmin }}</strong>
						</a>
					</div>
				</div>
			{% else %}
				{% if parentId != '0' %}
				{# Création d'une structure  #}
					<div class="mt-5 row">
						<div class="col-sm-12 col-lg-6">
							<a href="{{ path('administrateur_creation',{'parentName' : parentName,'parentId' : parentId,'userToAdmin': userToAdmin }) }}" class="btn btn-primary">
								Ajouter une	sructure à <strong>{{ parentName }}</strong> .
							</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}


		{# affichage Role partenaire #}
		{% if is_granted('ROLE_PARTENAIRE') %}

			<h4>Liste de vos structures</strong> :</h4>

			<table class="mt-5 table">
				<thead>
					<th>Adresse</th>
					<th>Email</th>
					<th>Active</th>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.address }}</td>
							<td>{{ user.email }}</td>
							<td>
								{{ user.activated ? 'OUI' : 'NON' }}
							</td>
						</tr>

					{% else %}
						<tr>
							<td>Il n'y a pas d'enregistrement pour ce tableau</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
{% endblock %}

